// .MyCollection {
//   background-color: paleturquoise;
// }
.error {
  background-color: lightgrey;
  border: solid 5px darkgrey;
  border-radius: 5em;
}

.poster {
  width: 200px;
}

.x {
  padding-top: 10px;
  padding-right: 10px;
}